---
layout: base
---

<h1 class="bg-pink-500 text-4xl">2 LEFT SISTERS!</h1>

<div class="flex flex-col gap-2 p-2 rounded-md">
  <p>Welcome to the to the 2 left sisters websight </p>

  <p>
    If you'd like to see the menu, click
    <a href="/menu" class="underline text-blue-800">here.</a>

  </p>

  <p>Here at 2 left sisters we prefer bitcoin.</p>

</div>