---
layout: base
---

<h1 class="text-green-900 bg-blue-500 text-4xl p-3">
  2 left Sisters.
</h1>

<div class="flex flex-col gap-2">
  <p class="text-green-900">Welcome to greenthe home page. If you'd like to see the menu                                                                                
    click

  <p class="text-green-900">We prefer bitcoin</p>

  <p class="text-green-900">Come visit us</p>
</div>