---
layout: base
---
{% comment %} `menu` is derived from the file name in the `_data` directory. {% endcomment %}
<h1>{{ menu.title }}</h1>

<ul>
  {% for item in menu.menus %}
    <li class="bg-pink-300 flex gap-2">
      <div>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
      </div>

      <p>{{ item.price }}</p>
    </li>
  {% endfor %}
</ul>