---
layout: base
---
{% comment %} `menu` is derived from the file name in the `_data` directory. {% endcomment %}
<h1>{{ menu.title }}</h1>

<ul>
{% for menuitem in menu.menus%}
     <li>
      <p>{{ menuitem.category }}</p>

    </li>
  
  {% endfor %}
</ul> 
