---
layout: base
---
{% comment %} `menu` is derived from the file name in the `_data` directory. {% endcomment %}
<h1>{{ menu.title }}</h1>

<ul>
  {% for item in menu.menus %}
    <li class="">{{ item }}</li>
  {% endfor %}
</ul>