---
layout: base
---
{% comment %} `menu` is derived from the file name in the `_data` directory. {% endcomment %}
<h1>{{ menu.title }}</h1>

<ul>
{% for menuitem in menu.menus %}
     <li style="display: flex; justify-content:stretch;">
     <div >
      <p>{{ menuitem.name }}</p>
      <p>{{ menuitem.description }}</p>
      </div>

      <p>{{ menuitem.price }}</p>
     
    </li>  
  {% endfor %}

</ul> 
